<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChinaTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6017ED4F1D59CF5500FE1609</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6017ED681D59CF5600FE1609</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6017ED731D59CF5600FE1609</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
